<!DOCTYPE html>
<html lang="en">
<head> 
     <meta charset="utf-8">
<title>Transaction Page</title>

</head>
<body>
     <form action="/new/transaction" method="post">
          <label for="firstname">Sender:</label>
          <input type="text" id="firstname" name="sender" placeholder="firstname">
          <label for="lastname">Recipient:</label>
          <input type="text" id="lastname" name="recipient" placeholder="lastname">
          <label for="lastname">Amount:</label>
          <input type="text" id="lastname" name="amount" placeholder="lastname">
          <button type="submit">Send</button>
     </form>
</body>

</html>